.sobre {
  display: flex;
  align-items: center;         /* Alinha verticalmente */
  justify-content: center;     /* Centraliza os itens na horizontal */
  gap: 30px;                   /* Espaço entre imagem e texto */
  padding: 40px;
  max-width: 900px;
  margin: auto;
  text-align: left;            /* Deixa o texto alinhado normalmente */
  flex-wrap: wrap;             /* Faz funcionar bem em telas menores */
}

.sobre img {
  width: 200px;
  border-radius: 100px;
}

.sobre p {
  max-width: 500px;
  color: rgb(1, 11, 20);
  text-align: justify;
  text-indent: 30px; /* ✅ recuo da primeira linha */
}
.sobre .texto {
  max-width: 500px;
}
body {
  position: relative;
  min-height: 100vh;
  background-image: url('Assets/istockphoto-1419117748-612x612.jpg');
  background-size: cover;
  background-position: center;
}
