.galeria, .projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.galeria img, .projetos img {
  width: 300px;
  border-radius: 10px;
}

.projeto {
  text-align: center;
  margin-bottom: 30px;
}

.projeto .imagens {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaço entre as imagens */
}

.projeto img {
  width: 300px;
  border-radius: 10px;
}

.projeto p {
  max-width: 620px;
  margin: 10px auto 0;
  color: black;
}

.projeto img:first-of-type {
  margin-right: 10px; /* Espaço entre as imagens de antes e depois */
}