.redes-sociais {
  background-color: #cac9bf50;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between; /* separa esquerda e direita */
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.redes-sociais img {
  width: 30px;
  margin: 0 10px;
  vertical-align: middle;
}