body.com-imagem  {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('Assets/rolo_de_fime-removebg-preview.png');
  background-repeat: no-repeat;      /* Evita repetição da imagem */
  background-size: 750px;            /* Faz a imagem cobrir toda a área */
  background-position: right center; /* Centraliza a imagem */
  background-attachment: fixed;      /* (Opcional) mantém fixa ao rolar */
  background-color: rgba(10, 10, 1, 0.575);
}
body.sem-imagem {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(10, 10, 1, 0.575);
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center; /* centraliza o h1 */
  align-items: center;
  position: relative;
}

header .logo {
  position: absolute;
  left: 20px;
}

header .logo img {
  width: 80px;
  height: auto;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

.links-direita {
  position: absolute;
  right: 20px;
  display: flex;
  gap: 10px; /* Espaço entre os links */
}

.link-direita {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #555;
  border-radius: 5px;
  transition: background 0.3s ease;
  /* removido position absolute daqui */
}

.link-direita:hover {
  background-color: #777;
}

.container {
  position: relative; /* necessário para que a imagem absoluta funcione dentro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  gap: 40px;
  flex-wrap: wrap;
}
.imagem-direita {
  position: absolute;
  right: 180px;
  top: 52%;
  transform: translateY(-50%);
  max-width: 450px;
  height: auto;
  z-index: 0; /* atrás do texto se necessário */
}
.texto {
  max-width: 50%;
  text-align: center;
  margin-top: -100px; /* sobe a imagem e o texto */
}
.texto h2 {
  margin-top:15px;
}
p {
    text-align: center;
    font-size: large;
    color: #ffffff;
}

.imagem img {
  max-width: 400px;
  width: 150px;
  border-radius: 10px;
}

.imagem-sobre {
  display: inline-block;   /* Para respeitar o text-align do container */
  max-width: 150px;       /* Ajuste o tamanho que quiser - imagem A2*/
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 10px;    /* Espaço entre imagem e texto */
  border-radius: 10px;
}

.botao {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.botoes {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaço entre os botões */
  margin-top: 20px;
}

